@font-face {
  font-family: 'adelle-sans-light';
  src: url('../fonts/adelle-sans-light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body, html {
  width: auto;
  height: 100%;
  text-align: center;
  background: url('../imgs/portada_bitacora.png') no-repeat center center fixed;
  background-size: cover;
  height: auto;
}

body, h1, h2, h3, h4, h5, h6, p {
  font-family: "adelle-sans-light";
  font-weight: 700;
  letter-spacing: 1.5px
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #42685B;
  overflow: hidden;
  font-family: "adelle-sans-light";
  font-weight: 700;
  width: auto;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 40px 16px;
  text-decoration: none;
  font-size: min(3vw, 1.25em);
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #646562;
  color: #fff;
}

/* Add a color to the active/current link */
.topnav {
  background-color: #42685B;
  color: white;
}

.logo-puebla {
    float: right;
    width: max(150px, 10vw);
    margin-right: 0;
    margin-top: 0;    /* if you want it vertically middle of the navbar. */
}

.logo-smadsot {
  float: right;
  width: auto;
  height: 100px;
  margin-right: 0;
  margin-top: 0;    /* if you want it vertically middle of the navbar. */
}

.intro-header {
  padding-top: 50px;
  /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  text-align: center;
  height: 500px;
  color: white;
}

/*Big header*/
.intro-message>h1 {
  margin-top: 50px;
  text-shadow: 2px 1px 2px #000;
  font-size: 5em;
  margin-bottom: 10px;
  color: white;
}

.intro-message>h3 {
  text-shadow: 2px 1px 2px #000;
  font-size: 2em;
  color: white;
  font-weight: 600;
  margin-top: 20px;
}

.poep-botones {
  margin-top: 50px;
}

.boton-etapas {
  width: max(35%, 35vw);
  border-radius: 10px;
  background: #C0C0C0;
}

span {
  font-size: min(4vw, 1.5em);
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.5px;
}

hr.divider {
  width: 50%;
  border-top: 1px solid #f8f8f8;;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.intro-header > .intro-message > h1 {
  font-size: min(8vw, 5em);
}

.intro-header > .intro-message > h3 {
  font-size: min(5vw, 2.5em);
}